{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <h2>Editar Producto</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Volver a la lista de productos</a>
    </div>
</body>
</html>
{% endblock %}