
{% extends 'base.html' %}
    {% load static %}
    {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Encuentra tu pasión, persíguela con determinación y conquista tu propio planeta deportivo.</h2>
                <p>Explora. Vive. Supérate.</p>
            </div>
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/surf.jpg' %}" class="d-block w-100 carousel-img" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/rollers.jpg' %}" class="d-block w-100 carousel-img" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/skate.jpg' %}" class="d-block w-100 carousel-img" alt="...">
                        </div>
                    </div>
                  
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <h1>Quienes Somos</h1>
        <p>Oscar, Benjamin Marchant y Benjamin Stavra forman un equipo imbuido de pasión por los deportes. Juntos,
            exploran los límites del cuerpo y la mente,
            desafiando la gravedad y conquistando las olas. Su espíritu intrépido los impulsa a alcanzar nuevas alturas
            y sumergirse en la emoción de la aventura.
            Unidos por el amor al deporte, inspiran a otros a perseguir sus sueños y a vivir con intensidad cada
            momento.</p>
    </div>

    <div class="container mt-4 mb-4">
        <h2>Integrantes</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/oscar.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Oscar</h5>
                        <p class="card-text">Una tabla de skate de alta calidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/skate2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Benja</h5>
                        <p class="card-text">Una lija resistente y duradera.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/skate3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Benjamin</h5>
                        <p class="card-text">Ruedas de alta calidad para tu skate.</p>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
    {% endblock %}



    <script src="{% static 'js/popup_logic.js' %}"></script>

    <script src="{% static 'js/api.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>

