<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Usuario</title>
    <link rel="stylesheet" href="{% static 'css/styleRegistro.css' %}">
</head>
<body>
    <section>
        <div class="contenedor">
            <div class="formulario">
                <form name="form" action="agregarUsuario" method="POST" onsubmit="return validar();">
                    {% csrf_token %}
                    <h2> Registro Usuario</h2>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="usuario" required>
                        <label for="#"> Nombre usuario </label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="nombre" required>
                        <label for="#"> Nombre </label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="apellido" required>
                        <label for="#"> Apellido/s </label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="correo" required>
                        <label for="#"> Email </label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="contrasena" required>
                        <label for="#"> Contraseña</label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-user-lock"></i>
                        <input type="password" name="confirmarContrasena" required>
                        <label for="#"> Confirmar Contraseña</label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-id-card"></i>
                        <input type="text" name="rut" required>
                        <label for="#"> Rut </label>
                    </div>
                    <div class="terminos">
                        <label for="#">
                            <input type="checkbox" name="terminos" required> Aceptar términos y condiciones
                        </label>
                    </div>
                    <div>   
                        <button type="submit">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="{% static 'js/validacionRegistro.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>